{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Intranet Maillefer - Création des tables{% endblock %}

{% block content %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}

    <div class="step">
        {% include "SensioDistributionBundle::Configurator/steps.html.twig" with { "index": index, "count": count } %}

        <h1>Création des tables de la base de données</h1>
        <p>Création automatique des tables dans la base de données.
        <form action="{{ path('_configurator_step', { 'index': index }) }} " method="POST">
          
            {{ form_rest(form) }}

              <div class="symfony-form-footer">
                <p>
                    <button type="submit" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">SUIVANT</span>
                            </span>
                        </span>
                    </button>
             {% if index == count-1 %}
                    <a href="{{ path('_configurator_final', { 'index': index }) }}" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">Passer cette étape</span>
                            </span>
                        </span>
                    </a>
            {% else %}
                    <a href="{{ path('_configurator_step', { 'index': index+1 }) }}" class="sf-button">
                        <span class="border-l">
                            <span class="border-r">
                                <span class="btn-bg">Passer cette étape</span>
                            </span>
                        </span>
                    </a>
            {% endif %}
                </p>
            </div>

        </form>
    </div>
{% endblock %}
