{% extends 'FMRClientBundle::layout.html.twig' %}
{% block content -%}
<h3>Gestion des statuts</h3>
<p><a href="{{ path('statutoffre') }}">Statut Offre</a></p>
<p><a href="{{ path('statutfacture') }}">Statut Facture</a></p>
{% endblock %}
