{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
	    <h1>Ajouter un fourniture</h1>
	</div>

   {% include 'FMRChantierBundle:Fourniture:new_single.html.twig' %}

{% endblock %}
