 <form action="{{ path('fourniture_create', {'id': chantier.id}) }}" method="post" class="form_inline_block" {{ form_enctype(form) }}>
      <input type="hidden" name="_type" value="{{ type }}" />
		{{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </p>
</form>