{% extends '::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
	    <h1>Ajouter un articleoffre</h1>
	    <div style="text-align:right;">
	    	<a class="btn" href="{{ path('articleoffre') }}">
	            Retour &agrave; la liste
	        </a>
	    </div>
	</div>

	{% include 'new_single.html.twig' %}

    <div class="form-actions">
        <a class="btn" href="{{ path('articleoffre') }}">
            Retour &agrave; la liste
        </a>
	</div>

{% endblock %}
