{% extends '::layout.html.twig' %}
{% block content -%}
<div class="page-header">
      <h1>ArticleOffre</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p></div>
        	<div class="form-actions">
        <a class="btn" href="{{ path('articleoffre') }}">
            Retour &agrave; la liste
        </a>
        <a class="btn btn-primary" href="{{ path('articleoffre_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('articleoffre_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
