<stylesheet>
        <td class="text-right">
            <attribute name="text-align" value="right" />
        </td>
        <td>
        	 <attribute name="padding" value="3px" />
        </td>
        <any class="no-border">
        	<td>
        		<complex-attribute name="border" type="none" />
        	</td>
        	<complex-attribute name="border" type="none" />
        </any>
        <any class="border-table-footer">
			<complex-attribute name="border" type="left+right" />
        </any>
         <table class="no-border">
        		<attribute name="width" value="100%" />
        		<td class="entreprise">
        			<attribute name="width" value="400px" />
        		</td>
        </table>
        <h1 class="titre">
        	<attribute name="font-size" value="40px" />
        	<attribute name="padding" value="0px" />
        	<attribute name="margin" value="0px" />
        	
        </h1>
        <h2>
        	<attribute name="padding" value="0px" />
        	<attribute name="margin" value="0px" />
        </h2>
        <h3>
        	<attribute name="padding" value="0px" />
        	<attribute name="margin" value="0px" />
        </h3>
    </stylesheet>