{# Projet TPI - Fabrice Maillefer #}
{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Ajouter une fourniture{% endblock %}
{% block sidebar %}
		<li><a href="{{ path('chantier', { 'id': entity.chantier.id }) }}">Retour aux détails du chantier</a></li>
		<li><a href="{{ path('chantier_fourniture', { 'id': entity.chantier.id }) }}">Retour aux fournitures du chantier</a></li>
{% endblock %}
{% block content -%}
	<div class="page-header">
	    <h1>Ajouter une fourniture</h1>
	</div>

   {% include 'FMRChantierBundle:Fourniture:new_single.html.twig' %}

{% endblock %}
