{# Projet TPI - Fabrice Maillefer #}
{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} {{ entity.labelAjout }}{% endblock %}
{% block sidebar %}
		<li><a href="{{ path('document_show', { 'id': entity.relationClient.id }) }}">Retour à {{ entity.relationClient.idsd }}</a></li>
{% endblock %}
{% block content -%}
	<div class="page-header">
	    <h1>Ajouter une fourniture</h1>
	</div>

   {% include 'FMRLignesBundle:Ligne:new_single.html.twig' %}

{% endblock %}
