{# Projet TPI - Fabrice Maillefer #}
<form action="{{ path('ligne_create', {'id': relationClient.id}) }}" method="post" role="form" class="form-inline" {{ form_enctype(form) }}>
      <input type="hidden" name="_type" value="{{ type }}" />
		{{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </p>
</form>