{# Projet TPI - Fabrice Maillefer #}
<form action="{{ path('articlefacture_create', {'id':facture.id}) }}" class="form_inline_block" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}

      <div>
      	<button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
</form>