<stylesheet>
        <td class="text-right">
            <attribute name="text-align" value="right" />
        </td>
        <td>
        	 <attribute name="padding" value="3px" />
        </td>
    </stylesheet>