{# Projet TPI - Fabrice Maillefer #}
{# Layout de la partie Client #}
{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} Client - {% endblock %}
{% block body %}
<div class="row-fluid">
	<div class="span2  hidden-phone" >
		<ul class="nav nav-list">
			{% block sidebar %}
				<li class="nav-header">Clients</li>
				<li><a href="{{ path('client_new') }}">Ajouter un nouveau client</a></li>
			{% endblock %}
				</ul>
	 		</div>
	<div class="span10">
	{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}